doctype html
head
    title Vimeo API
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/vimeo.css')
body
    #root.app
        nav.navbar-expand-lg.navbar.navbar-dark.bg-primary
            .container
                a.navbar-brand
                    img(src='/img/logo.png', alt='PhePhim Logo', loading='Logo')
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNavAltMarkup.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link.active(aria-current='page', href='/vimeo/accounts') Danh sách tài khoản
                        li.nav-item
                            a.nav-link(href='/vimeo/add') Thêm tài khoản
                        li.nav-item
                            a.nav-link(href='/vimeo/upload') Upload
        block content
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js")