extends index

block content
    .container
        h1 List Account
        table.table
            thead
                tr
                    th.col-2(scope='col') #
                    th.col-4(scope='col') User ID
                    th.col-4(scope='col') Authen Key
                    th.col-2(scope='col') Trạng thái
            tbody
                each account, index in accounts
                    -   var star = '*'
                    -   var key = star.repeat(account.authKey.length)
                        tr
                            th(scope="row") #{index + 1}
                            td=account.userId
                            td=key
                            td=account.status ? 'Active' : 'Undefined'